@charset "UTF-8";

@font-face {
  font-family: 'Fira Code';
  src:
    url('../fonts/FiraCode-Regular.woff2') format('woff2'),
    url('../fonts/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #fff;
  --color-fg: #000;
  --color-anim: #f00;
  --color-gray-light: #ccc;
  --color-gray-dark: #333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* overflow-y: scroll; */
  margin-left: calc(100vw - 100%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

body {
  width: 100%;
  font-family: "Fira Code", monospace;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.6rem;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 3.2rem;
  }
}

a {
  color: var(--color-anim);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--color-fg);
  background: var(--color-anim);
}

p {
  margin: 0;
  /* max-width: 66ch; */
  /* margin: 1.62em 0; */
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
}

video {
  width: 100%;
  outline: none;
  border: 0;
}

iframe {
  border-style: none;
  max-width: var(--max-width);
  width: 100%;
}

pre {
  display: block;
  text-indent: none;
  width: 80%;
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
  border-left: 2px solid var(--color-fg);
  padding: 0.5em;
  margin: 1em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
kbd {
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
  border: none;
  padding: 0.2em 1em;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 80%;
  font-size: 0.8em;
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
  border-left: 2px solid var(--color-fg);
  padding: 0.5em;
  margin: 1em 0;
}

blockquote p {
  margin: 0;
}

hr {
  display: block;
  height: 2px;
  width: 62%;
  margin: 1em;
  border: 0;
  border-top: 2px solid var(--color-fg);
  padding: 0;
}

.container {
  margin: 5em 0;
}

.text {
  margin: 0;
  display: flex;
  justify-content: center;
}

.hash {
  outline: none;
  color: var(--color-fg);
  display: inline-block;
  order: 2;
  flex-grow: 0;
  flex-basis: content;
  margin: 0 1em;
}

.hash::-moz-focus-inner {
  border: 0;
}

.hash:focus {
  outline: none;
}

.hash::after {
  display: inline-block;
  content: attr(data-value);
}

.hash:focus::after {
  content: '-';
}

.text__container {
  position: relative;
  overflow-wrap: break-word;
  flex-grow: 1;
  flex-basis: auto;
}

.text__container--left {
  order: 1;
}

.text__container--right {
  order: 3;
}

.text__body {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 1em 3em 0;
}

.text__subject {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  display: inline-block;
  padding: 0 0 3em 1em;
}

@media screen and (min-width: 55em) { /* 880 px */
  .text__body {
    padding: 0 3em 3em 0;
  }

  .text__subject {
    padding: 0 0 3em 3em;
  }
}

.text__link {
  display: inline;
}
